h1{
  margin-top: 30px;
  color:#D6AD60;
}

.container-main{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:center;
  text-align: center;
  align-items: center;
  text-decoration: none;
  background-color: #F4EBD0 ;

}

.navbar-row-line{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-bottom:30px;
}

.navbar-row-line ul{
  width: 100%;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.navbar-row-line li{
  margin:20px;
  justify-content:center;
  align-items:center;
  text-align:center;
}
.card a:link {
  text-decoration: none;
  color: #000;
}
.card{
  color: #122620;
}
.card-body{
  height: 150px;
  background-color: #B68D40;
}
.navbar-nav a:link {
  text-decoration: none;
}
.navbar-nav a {
  color: #fff;
}

.form-group input{
  width: 100%;
}

.searchBar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
  margin: auto;
  padding-top: 50px;
  color:#D6AD60;
}

.searchBar-input {
  width: 100%;
}